.singleSteps {
	&Title {
		color: #fff !important;
		max-width: 567px;
		margin: 0 auto;
	}
	&Descr {
		color: #fff !important;
		text-align: center;
		max-width: 567px;
		margin: 0 auto;
		margin-bottom: 80px;
	}
	&Step {
		color: #fff !important;
	}
}
