.newHero {
	.img {
		display: block;
		position: relative;
		width: 100%;
		height: 548px;
		overflow: hidden;
		img {
			object-fit: cover;
		}
	}
	.line {
		background: linear-gradient(
			90deg,
			rgba(138, 209, 221, 1) 0%,
			rgba(190, 185, 214, 1) 87%
		);
		padding: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
		.item {
			@apply items-center flex gap-3;

			.title {
				@apply font-oswald;
				font-weight: bold;
				font-size: 22px;
			}
		}
	}
}
