.difference {
	margin-top: 70px;

	.wrapper {
		position: relative;
	}

	.title {
		@apply mb-5 text-center uppercase;
	}

	.descr {
		@apply text-center mb-10;
	}

	.box {
		@apply grid;
		grid-template-columns: repeat(4, 1fr);
	}

	.btns {
		@apply flex justify-center;
	}
}
