.faqSection {
	background: #fff;
	padding: 50px 0 50px;
	.wrapper {
		max-width: 1150px;
	}
	h2 {
		color: #000;
		font-weight: 700;
		text-align: center;
		margin-bottom: 1em;
	}
	.item {
	}
	.faq {
		&-0 {
			> div {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-column-gap: 20px;
				margin-bottom: 100px;
			}
		}
		&-1 {
		}
	}
	.wrapper-0 {
	}
}
